@import 'resources/_variables.scss';

button {
  background-color: $secondary-color;
  font-size: 30;
  width : 130px;
  height : 60px;
}
label {
  color : $primary-text-color;
}
stack-layout {
    horizontal-align: center;
    text-align: center;
    background-color: $primary-color;
}
.duration {
  text-align: center;
  font-size: 45%;
}
.options {
  margin-top: 40px;
  width: 80%;
}
.container {
  width: 100%;
  background-color: $primary-color;
}
.title { 
  margin: 15% 0 5% 0;
  font-size: 50%;
}
slider {
  width : 80%;
  color: $secondary-color;
  background-color: $accent-color;
}
